* {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.timer {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field:not(:last-child) {
  margin-right: 50px;
}

.field {
  text-align: center;
}

.value {
  font-size: 60px;
}

.label {
  display: flex;
  font-weight: 300;
  justify-content: center;
  color: #aaa;
}
